################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NET22App/.vs/NET22App
/NET22App/bin/Debug/net8.0
/NET22App/obj

/NET22App/NET22App.csproj
/NET22App/NET22App.sln
/NET22App/.vs/ProjectEvaluation
/NET22App2/.vs/NET22App2
/NET22App2/obj
/NET22App2/NET22App2.csproj
/NET22App2/NET22App2.sln
/.vs
/NET22App2/.vs/ProjectEvaluation
/NET22App2/bin/Debug/net8.0
/ConsoleApp/bin/Debug/net9.0
/ConsoleApp/obj
/ConsoleApp1/obj
/ConsoleApp1
/NET22App2/lesson3.cs
/NET22App2/Program.cs
/NET22App2/NET22App2.sln
/ConsoleApp/.vs/ConsoleApp
/ConsoleApp/.vs/ProjectEvaluation
/TestOOP/.vs
/TestOOP/bin/Debug/net8.0
/TestOOP/obj/Debug/net8.0
/TestOOP/obj/project.assets.json
/TestOOP/obj/project.nuget.cache
/TestOOP/obj/TestOOP.csproj.nuget.dgspec.json
/TestOOP/obj/TestOOP.csproj.nuget.g.props
/TestOOP/obj/TestOOP.csproj.nuget.g.targets
/ClinicApp/bin/Debug/net8.0
/ClinicApp/obj
/hw6/.vs/hw6
/hw6/bin/Debug/net8.0
/hw6/obj
/ClinicApp/ClinicApp.csproj
/hw6/hw6.csproj
/hw6/hw6.sln
/Computer/bin/Debug/net8.0
/Computer/obj
/hw6/.vs/ProjectEvaluation
/hw7/.vs
/hw7/bin/Debug/net8.0
/hw7/obj
/hw7/hw7.csproj
/hw7/hw7.sln
/hw7 try 2/.vs/hw7 try 2
/hw7 try 2/bin/Debug/net8.0
/hw7 try 2/obj/Debug/net8.0
/hw7 try 2/obj
/hw7 try 2/.vs/ProjectEvaluation
/hw7 try 2/.vs
/hw7 try 2/bin/Debug/net8.0
/hw7 try 2/obj/Debug/net8.0
/hw7 try 2/obj
/hw7/hw7.csproj
/hw7/hw7.sln
/hw8/.vs/hw8
/hw8/.vs/ProjectEvaluation
/hw8/bin/Debug/net8.0
/hw8/obj/Debug/net8.0
/hw8/obj
/hw8
/task2/bin/Debug/net8.0
/task2/obj/Debug/net8.0
/task2/obj
/task2
/task3/bin/Debug/net8.0
/task3/obj/Debug/net8.0
/task3/obj
/task3
/hw13/.vs/hw13.slnx
/hw13/hw13/bin/Debug/net10.0
/hw13/hw13/obj
/hw13/hw13.slnx
/hw13/hw13/notes.txt
/hw13/hw13/hw13.csproj
/hw10_delegate/bin/Debug/net8.0
/hw10_delegate/obj
/hw10_delegate/hw10_delegate.csproj
/ConsoleApp2/.vs
/ConsoleApp2/bin/Debug/net8.0
/ConsoleApp2/ConsoleApp1/obj
/ConsoleApp2/obj
/hw12/.vs
/hw12/obj
/ConsoleApp2/ConsoleApp2.csproj
/ConsoleApp2/ConsoleApp2.sln
/hw12/hw12.csproj
/hw12/hw12.sln
/hw12_exceptions/bin/Debug/net8.0
/hw12_exceptions/obj
/TestProject1/bin/Debug/net8.0
/TestProject1/obj
/hw12_exceptions/hw12_exceptions.csproj
/TestProject1/MSTestSettings.cs
/TestProject1/TestProject1.csproj
/hw13
/ConsoleApp2/.vs/ConsoleApp2
/ConsoleApp2/bin/Debug/net8.0
/ConsoleApp2/obj
/ConsoleApp2/ConsoleApp2.csproj
/ConsoleApp2/ConsoleApp2.sln
/MyMVC/.vs/MyMVC.slnx/config
/MyMVC/.vs
/MyMVC/MyMVC/bin/Debug/net10.0
/MyMVC/MyMVC/obj
/MyMVC/MyMVC/Properties
/MyMVC/MyMVC/wwwroot
/MyMVC/MyMVC/appsettings.Development.json
/MyMVC/MyMVC/appsettings.json
/MyMVC/MyMVC/MyMVC.csproj
/MyMVC/MyMVC/MyMVC.csproj.user
/MyMVC/MyMVC.slnx
/MyMVC/MyMVC/Views/_ViewImports.cshtml
/MyMVC/MyMVC/Views/Shared/_ValidationScriptsPartial.cshtml
/MyMVC/MyMVC/Views/Shared
/MyMVC/MyMVC/Models/ErrorViewModel.cs
/MyMVC/MyMVC/Views/_ViewStart.cshtml
/hw13/.vs/ProjectEvaluation
/mvcDBFirst/.vs
/mvcDBFirst/mvcCodeFirst/bin/Debug/net10.0
/mvcDBFirst/mvcCodeFirst/obj
/mvcDBFirst/mvcCodeFirst/Properties
/mvcDBFirst/mvcCodeFirst/Views/Shared
/mvcDBFirst/mvcCodeFirst/Views/_ViewImports.cshtml
/mvcDBFirst/mvcCodeFirst/Views/_ViewStart.cshtml
/mvcDBFirst/mvcCodeFirst/appsettings.Development.json
/mvcDBFirst/mvcCodeFirst/appsettings.json
/mvcDBFirst/mvcCodeFirst/mvcCodeFirst.csproj
/mvcDBFirst/mvcCodeFirst/mvcCodeFirst.csproj.user
/mvcDBFirst/mvcCodeFirst/wwwroot
/mvcDBFirst/mvcDBFirst/bin/Debug/net10.0
/mvcDBFirst/mvcDBFirst/Models/ErrorViewModel.cs
/mvcDBFirst/mvcDBFirst/obj
/mvcDBFirst/mvcDBFirst/Properties
/mvcDBFirst/mvcDBFirst/Properties/launchSettings.json
/mvcDBFirst/mvcDBFirst/Views/Shared/Error.cshtml
/mvcDBFirst/mvcDBFirst/Views/Shared/_Layout.cshtml.css
/mvcDBFirst/mvcDBFirst/Views/Shared/_ValidationScriptsPartial.cshtml
/mvcDBFirst/mvcDBFirst/Views/_ViewImports.cshtml
/mvcDBFirst/mvcDBFirst/Views/_ViewStart.cshtml
/mvcDBFirst/mvcDBFirst/wwwroot
/mvcDBFirst/mvcDBFirst/appsettings.Development.json
/mvcDBFirst/mvcDBFirst/appsettings.json
/mvcDBFirst/mvcDBFirst/mvcDBFirst.csproj
/mvcDBFirst/mvcDBFirst/mvcDBFirst.csproj.user
/mvcDBFirst/mvcDBFirst.slnx
