################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NET22App/.vs/NET22App
/NET22App/bin/Debug/net8.0
/NET22App/obj

/NET22App/NET22App.csproj
/NET22App/NET22App.sln
/NET22App/.vs/ProjectEvaluation
/NET22App2/.vs/NET22App2
/NET22App2/obj
/NET22App2/NET22App2.csproj
/NET22App2/NET22App2.sln
/.vs
/NET22App2/.vs/ProjectEvaluation
/NET22App2/bin/Debug/net8.0
/ConsoleApp/bin/Debug/net9.0
/ConsoleApp/obj
/ConsoleApp1/obj
/ConsoleApp1
/NET22App2/lesson3.cs
/NET22App2/Program.cs
/NET22App2/NET22App2.sln
/ConsoleApp/.vs/ConsoleApp
