################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NET22App/.vs/NET22App
/NET22App/bin/Debug/net8.0
/NET22App/obj
/NET22App/NET22App.sln
/NET22App/NET22App.csproj
/NET22App/.vs/ProjectEvaluation
/NET22App2/.vs
/NET22App2/obj
*.csproj
